.Task{
    text-align: center;
    box-shadow: 1px 2px 3px #cccccc;
    margin: 3px auto;
    cursor: pointer;
}

.TaskDiv:hover{
    background-color: #678a74;
}

.TaskDiv p{
    display: inline-block;
    color: white;;
}

.TaskDiv{
    background-color: #5b8c85;
    display: inline-block;
    width: 80%;
}

.ButtonDiv{
    background-color: #ecce6d;
    display: inline-block;
    width: 20%;
    color: black;
}

.ButtonDiv:hover{
    background-color: #dbbf63;
}