.App {
  width: 30%;
  margin: 10% auto;
  color: #434e52;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.InputDiv{
  background-color: #434e52;
  margin-top: 10px;
  border: 1px solid #cccccc;
  text-align: center;
  padding: 15px;
  box-shadow: 1px 2px 3px #cccccc;
}

.InputText{
  padding: 7px;
}

.AddButton{
  background-color: #ecce6d;
  display: inline-block;
  padding: 8px;
  border: 1px solid #ecce6d;
  cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.inputDiv{
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
